body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0b2353, #1b1b2f);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Login Box */
.login-box{
    width: 350px;
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    color: white;
}

/* Heading */
.login-box h2{
    text-align:center;
    margin-bottom:20px;
}

/* Inputs */
.login-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:8px;
    outline:none;
}

/* Button */
.login-box button{
    width:100%;
    padding:12px;
    background:#ff3c78;
    border:none;
    border-radius:8px;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition: 0.3s;
}

.login-box button:hover{
    background:#ff1f63;
}

/* Text */
.login-box p{
    text-align:center;
    font-size:12px;
    margin-top:10px;
    opacity:0.7;
}